{% extends 'base.html.twig' %}
{% block body %}
<h1>
    {{ title }}
</h1>
<h2>{{ slug }}</h2>

<div>
    <h2>Comments</h2>
    <ul>
        {% for comment in comments %}
        <li>
            {{ comment|capitalize|length }}
        </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
{% block title %} Read : {{ title }}{% endblock %}